body {
  box-sizing: border-box;
  margin: 0;
  border:0;
}

.container {
  width:500px;
  height: 200px;
  background-color: white;
  margin: 20px;
}

.box {
  width: 150px;
  height: 210px;
  display: inline-block;
  position: relative;
}

img {
  width: 150px;
  height: 210px;
  display: inline-block;
  border-bottom: solid 5px white;
}

.box {
  width: 150px;
  height: 210px;
  display: inline-block;
  position: relative;
}

.discount {
  background-color: green;
  position: absolute;
  top: 0px;
  right: 0px;
}

.red {
  background-color: red;
}

.heart {
  color: red;
  position: absolute;
  bottom:0px;
  right: 45%;
  display:none;
}

.box:hover .heart {
  display: block;
}
